# Default ignored files
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Maven target directories
**/target/
# Containers volumes
**/data/**
# IntelliJ IDEA
**/.idea/
*.iws
*.iml
*.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/.nb-gradle/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Specific files
vehicleService/HELP.md
ApiGateway/HELP.md

# Exclude specific files in target/build directories
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/
!/src/main//build/
!/src/test//build/